<div class='form__field field--password'>

  <label class='field__label' for='{{name}}'>
    {{label}}
  </label>

  <div class='field__wrapper'>
    <input
      oninput='{{action}}(this.name, this.value)'
      type={{type}}
      class='field__input'
      name='{{name}}'
      id='{{name}}'
      placeholder='{{placeholder}}'
    />
    <span
      onclick='fieldPassword.toggle(this)'
      class='field__icon'
    ></span>
  </div>

  {{!-- {{#if text}}
    <span class='field__error'>{{text}}</span>
  {{/if}} --}}
</div>